/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Jan, 2015, 2:44:52 PM
    Author     : citrisys
*/
@import url(http://fonts.googleapis.com/css?family=Lobster);
#logo{
    font-family:Lobster;
}
#slider ul li{
    list-style: none;
}
#middle_left{
    float:left;
    width:50%;
}
#middle_right{
    float:right;
    width:50%;
}
#pre_footer,#content_top{
    clear:both;
}
